<!DOCTYPE html>
<html>
  <head>
  	<header>STRING INSTRUMENTS</header>
  	<title>The Instruments Shop - JERUSALEM</title>
  </head>

  <body>
  	<div class = "container">
    	<div class = "row">
    		<div class = "col-4">
    			<h1>Instrument & Size</h1>
    		</div>
    		<div class = "col-8">
    			<h1>Image</h1>
    		</div>
    	</div>

    	<div class = "row">
    		<div class = "col-4">
    			<p>Violin, 1/4</p>
    		</div>
    		<div class = "col-8">
    			<img src = "static/images.jpeg">
    		</div>
    	</div>    

    	<div class = "row">
    		<div class = "col-4">
    			<p>Cello, 4/4</p>
    		</div>
    		<div class = "col-8">
    			<img src = "static/cello.jpeg">
    		</div>
    	</div> 
